.header {
    background-color: black;
    position: fixed;
    width: 100%;
    display: flex;
    z-index: 1000;
}
.text {
    color: white;
    margin: 1rem 0;
    font-family: var(--font-display);
    padding-left: 3rem;
    font-size: 32px;
}


.header {
    opacity: 0;
    transform: translateY(-100%);
    animation: topbarDrop 1s ease-out 0.2s forwards;
}

@keyframes topbarDrop {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
