:root {
    --background: #bfbfbf;
    --foreground: #bfbfbf;
    --font-display: "Benniter Trial Version";
    --font-body: "Noto sans";
}
html,
body {
    margin: 0;
    background-color: #bfbfbf;
}
.motionWrapper {
    background-color: #000;
}
.no-fade {
    opacity: 1 !important;
    animation: none !important;
    transition: none !important;
}
