html {
    background-color: #191919;
    font-family: var(--font-display);
}

.coverImg {
    width: 100vw;
    margin-top: 1rem;
}
.title {
    position: absolute;
    left: 25%;
    top: 10%;
    right: 25%;
    bottom: 25%;
    color: white;
    text-align: justify;
    font-size: 9rem;
}
.cover {
    background-color: #191919;
}
.span {
    font-size: 12rem;
}
.divider {
    color: white;
    padding: 1rem;
    background-color: #191919;
    text-align: center;
    font-size: 24px;
}
.footer {
    width: 100vw;
}
.title:hover {
    text-shadow: 0 0 60px #ff5400, 0 0 100px #ff5400, 0 0 140px #ff5400,
        12px 12px 40px rgba(0, 0, 0, 0.95);
    -webkit-text-stroke: 8px #ff5400;
    color: #ffffff;
    letter-spacing: -0.01em;
}
