html {
    background-color: #222526;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
body {
    width: 76vw;
    background-color: #bfbfbf;
    font-family: var(--font-display);
}
.header {
    text-align: right;
    padding-right: 12px;
}
.title {
    font-size: 64px;
    margin-bottom: 0;
}
.caption {
    margin-top: 0;
}
.band {
    background-color: #bfbfbf;
}
.bandHayley {
    width: 38%;
    position: absolute;
    z-index: 3;
    left: 30vw;
    top: 16vh;
}
.bandTaylor {
    width: 34%;
    position: absolute;
    z-index: 2;
    left: 9vw;
    top: 7vh;
}
.bandZac {
    width: 43%;
    position: absolute;
    z-index: 1;
    left: 52vw;
    top: 12vh;
}
.spacer {
    margin-top: 100%;
}

/*=== People Hover/Click ===*/
.hayley,
.taylor,
.zac {
    cursor: pointer;
}
