.content {
    background-color: #222526;
    display: flex;
    justify-content: center;
}
.body {
    overflow: hidden;
    width: 76vw;
    background-color: #bfbfbf;
    font-family: var(--font-display);
}
.header {
    text-align: right;
    padding-right: 12px;
}
.title {
    margin-top: 20px;
    font-size: 72px;
    margin-bottom: 0;
}
.caption {
    margin-top: 0;
    font-size: 20px;
}
.band {
    background-color: #bfbfbf;
}
.bandHayley {
    width: 38%;
    position: absolute;
    z-index: 3;
    left: 30vw;
    top: 16vh;
}
.bandTaylor {
    width: 35%;
    position: absolute;
    z-index: 2;
    left: 8vw;
    top: 6vh;
}
.bandZac {
    width: 41%;
    position: absolute;
    z-index: 1;
    left: 52vw;
    top: 16vh;
}
.spacer {
    margin-top: 100%;
    visibility: hidden;
}

/*=== People Hover/Click ===*/
.hayley img,
.taylor img,
.zac img {
    opacity: 0;
    transition: opacity 0.2s ease;
}

.hayley img:nth-child(1),
.taylor img:nth-child(1),
.zac img:nth-child(1) {
    opacity: 1;
}

.hayley:hover img:nth-child(2),
.taylor:hover img:nth-child(2),
.zac:hover img:nth-child(2) {
    animation: flip1 1s infinite steps(1);
}
.hayley:hover img:nth-child(3),
.taylor:hover img:nth-child(3),
.zac:hover img:nth-child(3) {
    animation: flip2 1s infinite steps(1);
}
.hayley:hover img:nth-child(4),
.taylor:hover img:nth-child(4),
.zac:hover img:nth-child(4) {
    animation: flip3 1s infinite steps(1);
}

@keyframes flip1 {
    0% {
        opacity: 1;
    }
    30% {
        opacity: 1;
    }
    31% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes flip2 {
    0% {
        opacity: 0;
    }
    29% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    63% {
        opacity: 1;
    }
    64% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes flip3 {
    0% {
        opacity: 0;
    }
    63% {
        opacity: 0;
    }
    64% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
