.content {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: #bfbfbf;
    font-family: var(--font-display);
}
.close {
    width: 30%;
    position: absolute;
    left: -1rem;
    z-index: 3;
    top: 3rem;
}
.spacer {
    margin-top: 68vh;
    visibility: hidden;
}
.mic {
    width: 54%;
    position: absolute;
    z-index: 1;
    left: -8rem;
    top: -7rem;
}
.header {
    margin-left: 20rem;
    text-align: left;
}
.title {
    font-size: 100px;
    margin-bottom: 0;
}
.caption {
    margin-top: -8px;
    font-size: 36px;
    margin-left: 0.4rem;
}
