html {
    background-color: #222526;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.content {
    width: 100%;
    background-color: #bfbfbf;
    font-family: var(--font-display);
}
